<header class="header">
    <nav class="navbar">
        <div class="navbar__container">
            <div class="navbar__logo-container">
                <a href="/" class="navbar__logo">Служба поддержки</a>
            </div>
            <button class="navbar__toggle" aria-label="Открыть меню">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar__wrap">
                <ul class="navbar__menu">
                    <li class="navbar__item"><a href="/" class="navbar__link">Главная</a></li>
                </ul>
                <div class="auth-section">
                    <div id="userSection">
                        <a href="/tasks" class="navbar__link navbar__link--accent">Профиль</a>
                        <a href="#" id="logoutBtn" class="navbar__link navbar__link--accent">Выйти</a>
                    </div>
                    <div id="authSection">
                        <a href="/login" class="navbar__link navbar__link--accent">Вход</a>
                        <a href="/register" class="navbar__link navbar__link--accent">Регистрация</a>
                    </div>
                </div>
                <span id="welcome"></span>
            </div>
        </div>
    </nav>
</header>

